html {
    margin: 0 auto;
}

h1 {
    font-family: 'Muli', sans-serif;
    color: white;
    text-align: center;
    font-size: 100px;
    opacity: 1;
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media(max-width: 500px) {
    h1 {
        font-size: 60px;
    }
}

h2 {
    font-family: 'Muli', sans-serif;
    color: white;
    text-align: center;
    opacity: 1;
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

h6 {
    font-family: 'Muli', sans-serif;
    color: white;
}

@keyframes title{
    0% {
        opacity: 1;
    }
    25% {
        opacity: .50;
    }
    50% {
        opacity: .25;
    }
    75% {
        opacity: .50;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-image: url('https://i.imgur.com/xUMiRCT.jpg');
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: grey;

}

button {
    color: white;
    border-width: 3px;
    border-radius: 5px;
    background-color: black;
    font-size: 27px;
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 60px;
}

button:hover {
    background-color: rgb(50, 50, 50);
}

.bet {
    display: flex;
    flex-direction: row;
}

.score-board {
    font-family: 'Muli', sans-serif;
    color: white;
}

.question {
    font-family: 'Muli', sans-serif;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.choice {
    display: inline;
}